.footer-container{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  padding: 25px;
  background-color: $darker-blue;
  font-size: 30px;
  width: auto;
  height: auto;
  margin-top: 0px !important;
  position: sticky;
  top: 100vh;
  border-radius: 6px;
  margin-left: $margin-left !important;
  margin-right: $margin-left !important;


  filter: drop-shadow(16px 16px 16px grey);
  .column-1{
    flex:1;
  }
  .column-2{
    flex: 2;
  }
  .footer-text-content{
    align-self: revert;
    ;
  }

  a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;

    &:hover{
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid whitesmoke;
      transition: border-bottom 0.3s;
    }
  }
  div{
    font-size: 20px;

  }
}