.footer-container{
  display: grid;
  user-select: none;
  grid-template-columns: repeat(1,320px) repeat(2, auto);
  padding: 25px;
  background-color: $darker-blue;
  font-size: 30px;
  width: auto;
  height: auto;
  margin-top: 25px!important;
  position: sticky;
  top: 100vh;
  border-radius: 6px;
  margin-left: $margin-left !important;
  margin-right: $margin-left !important;
  .newsletter-box{
    .footer-button{
      margin-left: 15px;
      padding: 10px;
      font: inherit;
      border: 1px solid;
      color: #9d9898;
      background-color: rgba(0, 0, 0, 0.58);
      cursor: pointer;
      border-radius: 20px;
      &:hover{
        background-color: rgba(19, 19, 19, 0.96);
      }
  }
  }


  &:hover{
      background-color: #165975;
    }

  filter: drop-shadow(16px 16px 16px grey);
  .footer-text-content{
    align-self: revert;
    ;
  }

  a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;

    &:hover{
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid whitesmoke;
      transition: border-bottom 0.3s;
    }
  }
  div{
    font-size: 20px;

  }
}