.footer-container{
  width: 100%;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 40px;
  margin: auto 0;


  a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;

    &:hover{
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
      border-bottom: 2px solid whitesmoke;
      transition: border-bottom 0.3s;
    }
  }

}