.header-container {
 padding: 20px;



  .sign-in{
    padding-right: 15px;
    margin-left: 50px;

  }

small{
 font-size: 20px;
  display: flex;
  padding-right: 40px;
  width: 50%;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}



 .header-items{
  display: flex;
  justify-content: space-between;
  align-items: center;



  .other-menu{
   display: flex;
   width: 80%;
   padding-top: 10px;
   justify-content: normal;
   margin-left: 400px;


   .inverted{
    background-color: $default-blue;
    border-radius: 19px;
    width: 198px;
    height: 40px;
    left: 935px;
    top: 33px;
    cursor: pointer;
   }



  }


  .title{
   width: auto;
   color: $default-blue;
   font-size: $title-size;
  }



  .menu-item{
   font-size: 24px;
   padding-right: 50px;
   color:black;
   text-decoration: none;
   text-transform: uppercase;
   white-space: nowrap;

   &:hover{
    color: $default-blue;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    cursor: pointer;

   }


  }


  }

 }







