.header-container {
 padding: 20px;
 background-color: #568EE1;


  .sign-in{
    padding-right: 15px;
    margin-left: 50px;

  }

small{
font-size: 20px;
  display: flex;
  padding-right: 40px;
  width: 50%;
  text-decoration: none;
 text-transform: uppercase;
 color: inherit;
}



 .header-items{
  display: flex;
  justify-content: space-between;
  align-items: center;



  .other-menu{
   display: flex;
   width: 80%;




   button {
    background-color: #568EE1;
    border-radius: 19px;
    width: 198px;
    height: 40px;
    left: 935px;
    top: 33px;
    cursor: pointer;
   }



  }




  .title{
   width: 100%;
   color: whitesmoke;
  }



div {
 color: blue;
 font-size: 32px;
}

  .menu-item{
   font-size: 24px;
   padding-right: 50px;
   color:black;
   text-decoration: none;
   text-transform: uppercase;

   &:hover{
    color: white;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
    transition: 0.3s;

   }


  }


  }

 }







