$content-width: 5000px;
$default-blue:#568EE1;
$darker-blue: #1b5688;
$title-size: 32px;
$margin-left: 10px;

$menu-text-color: #050505;
$menu-text-size: 24px;

$information-button-font-size: 24px;

$help-with-school-stress-color: #5F5D5D;
$help-with-school-stress-size: 40px;

$look-around-and-use-the-help-color: #000000;
$look-around-and-use-the-help-size: 60px;

$site-milestones-color: #000000;
$site-milestones-size: 30;
