@import "Variables";
@import "Footer";
@import "Header";
@import "Content";
html{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Schoolbell', cursive;
  height: 100vh;

  .App{
    height: 100vh;
  }


}



html{
  height: 100%;
}