@import "Variables";
@import "Footer";
@import "Header";
@import "Content";
@import "SendUsAMessage.scss";
html{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Schoolbell', cursive;
  min-height: 100vh;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(117, 117, 117, 0.3);

  .App{
    min-height: 100vh;
  }

}


input{
  padding: 10px;
  font: inherit;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.58);
}